$col: #af9036;
$bc: #1a1a1a;
$button: #22b573;

html,
body {
  background-color: $bc;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

// menu

.hContainer {
  background-color: rgba(26, 26, 26, 0.9);
  width: 100%;
  height: 8%;
  margin-top: -7px;
  z-index: 3;
  position: fixed;
}

#menuToggle {
  display: block;
  position: fixed;
  margin-top: 25px;
  left: 2%;
  z-index: 5;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -20px;
  left: -10px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  // width: 30px;
  height: 2.5px;
  margin-bottom: 5px;
  position: relative;
  background: $col;
  border-radius: 3px;
  z-index: 4;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

span.span1 {
  width: 40px;
}

span.span2 {
  width: 0px;
}

span.span3 {
  width: 40px;
  margin-top: -5px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-10px, -10px);
  background: black;
  z-index: 5;
  position: relative;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-10px, -10px);
  background: black;
  z-index: 5;
  position: relative;
  margin-top: 2px;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-2px, 0px);
  margin-top: -5px;
}

#menu {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 86.5%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: rgba(237, 237, 237, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 15px 0;
}

#menu a {
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

//logo
#logo img {
  height: 8%;
  width: 12%;
  margin-top: 3px;
  margin-left: 80%;
  z-index: 3;
  position: fixed;
}

//background

div.blackBackground {
  // margin-top: 10px;
  margin-top: 65px;
}

video#videoBackground {
  height: 660px;
  margin: -60px auto;
  display: block;
}

.gg-Intro {
  height: 680px;
  margin-top: -1280px;
  background-color: rgba(26, 26, 26, 0.9);
  z-index: 2;
  position: relative;
}

.gg-Intro h1 {
  padding-top: 100px;
  margin-top: 600px;
  font-size: 50px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: white;
  position: relative;
  z-index: 3;
  -webkit-animation: fadeInTitle ease 5s, move 5s linear;
  animation: fadeInTitle ease 5s, move 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@-webkit-keyframes move {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 20px;
  }
}

@-webkit-keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gg-Intro h2 {
  margin-top: 250px;
  font-size: 35px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  width: 100%;
  color: $col;
  position: relative;
  z-index: 3;
}

.demoLink {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  color: white;
  background-color: rgba(26, 26, 26, 1);
  border: 1px solid $bc;
  position: relative;
  z-index: 3;
  -webkit-animation: moving 10s linear infinite,
    blink 3s ease-in infinite alternate;
  animation: moving 10s linear infinite, blink 3s ease-in infinite alternate;
}

@-webkit-keyframes blink {
  50% {
    border: 1px solid $col;
  }
}

@-webkit-keyframes moving {
  0%,
  100% {
    bottom: 0px;
  }
  50% {
    bottom: -30px;
  }
}

@keyframes moving {
  0%,
  100% {
    bottom: 0px;
  }
  50% {
    bottom: -30px;
  }
}

a.demoLink {
  width: 100px;
  display: block;
  width: 120px;
}

.demoLink:hover {
  background-color: rgba(175, 144, 54, 1);
  transition: ease-in 0.5s;
}

a.videoLink {
  text-decoration: none;
  width: 20px;
  display: block;
  height: 20px;
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
  margin-left: -4px;
}

.videoLink p {
  font-size: 12px;
  color: white;
  margin-left: -5px;
}

#gg-About h1 {
  font-size: 50px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 20px;
  padding-bottom: 50px;
}

#gg-About h2 {
  padding: 10px 1px 30px 1px;
  font-size: 20px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  width: 95%;
  color: white;
  margin: 0 auto;
}

#gg-About h3 {
  padding: 10px 1px 30px 1px;
  font-size: 20px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: right;
  width: 95%;
  color: white;
  margin: 0 auto;
}

div.ggdesign {
  width: 90%;
  margin: 10px auto;
  display: block;
}

#gg-About h4 {
  padding: 10px 5px 5px 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  width: 100%;
  color: white;
}
#gg-About h5 {
  padding-top: 1px;
  padding-bottom: 35px;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  display: block;
  color: $col;
}

.gg-Social {
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}

.gg-Social h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $col;
}

.r_text {
  margin-top: -35px;
  z-index: 1;
  position: relative;
}

.resumeButton {
  display: block;
  margin: 0 auto;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  width: 150px;
  height: 50px;
}

a.resumeFile {
  width: 150px;
  height: 50px;
  display: inline-block;
  margin-left: -8px;
  margin-top: -15px;
  z-index: 2;
  position: relative;
}

button.resumeButton {
  border: 1px solid rgba(34, 181, 115, 0.7);
  background: linear-gradient(
    to left,
    rgba(34, 181, 115, 0.7) 50%,
    rgba(34, 181, 115, 0.9) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1.5s ease;
  cursor: pointer;
}

button.resumeButton:hover {
  background-position: left bottom;
  transition: all 1.5s ease;
}

.gg-Social h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $col;
}

.gg-Social h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $col;
}

.freelanceButton {
  display: block;
  margin: 0 auto;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  width: 150px;
  height: 50px;
}

.freelanceButton p {
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  margin-top: -35px;
}

a.freelanceLink {
  width: 150px;
  height: 50px;
  display: inline-block;
  margin-left: -8px;
  margin-top: -20px;
  z-index: 2;
  position: relative;
}

button.freelanceButton {
  border: 1px solid rgba(34, 181, 115, 0.7);
  background: linear-gradient(
    to right,
    rgba(34, 181, 115, 0.7) 50%,
    rgba(34, 181, 115, 0.9) 50%
  );
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 1.5s ease;
  cursor: pointer;
}

button.freelanceButton:hover {
  background-position: right bottom;
  transition: all 1.5s ease;
}

img.github_Logo {
  width: 14%;
}

img.linkedin_Logo {
  width: 13%;
}

.social_Container {
  margin: 0 auto;
  display: block;
}

a.a_github {
  margin-left: 115px;
}

a.a_LinkedIn {
  margin-left: 30px;
}

div.personal-Note {
  margin-top: 20px;
}

.personal-Note h2 {
  text-align: center;
  font-size: 18px;
  font-family: roboto-slab, serif;
  font-style: italic;
  font-weight: 700;
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 20px;
  color: white;
}

.videoGG h1 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 5px;
}

.videoGG h2 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1px;
  padding-top: 20px;
  text-align: center;
}

.graphicGG h1 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 5px;
}

.graphicGG h2 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1px;
  padding-top: 20px;
  text-align: center;
}

.webGG h1 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 5px;
}

.webGG h2 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1px;
  padding-top: 20px;
  text-align: center;
}

.uiuxGG h1 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 5px;
}

.uiuxGG h2 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1px;
  padding-top: 10px;
  text-align: center;
}

button.toggle-Video {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #af9036;
  border: 1px solid #af9036;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px;
  z-index: 3;
  display: block;
}

button.toggle-Graphic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #af9036;
  border: 1px solid #af9036;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px;
  z-index: 3;
  display: block;
}

button.toggle-Web {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #af9036;
  border: 1px solid #af9036;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px;
  z-index: 3;
  display: block;
}

button.toggle-uiux {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #af9036;
  border: 1px solid #af9036;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px;
  z-index: 3;
  display: block;
}

.gg-demoReel h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 30px;
  margin-top: 80px;
}

iframe.ggdemoReel {
  margin: 0 auto;
  display: block;
  width: 375px;
  height: 200px;
  padding-bottom: 5px;
}

#des_Work h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-top: 25px;
}

#des_Work h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 30px;
  margin-top: -20px;
}

/* /video */

.videoGG {
  padding-top: 5px;
  padding-bottom: 20px;
}

#gg-Video {
  height: 100%;
  display: none;
}

#gg-Video iframe {
  height: 200px;
  width: 350px;
  padding: 10px 5px 5px 5px;
  margin: 0 auto;
  display: block;
}

/* //graphic */

.graphicGG {
  padding-top: 5px;
  padding-bottom: 20px;
}

img#suicune {
  width: 200px;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
}

#gg-Graphic {
  height: 100%;
  display: none;
}

/* web */

.webGG {
  padding-top: 5px;
  padding-bottom: 20px;
}

#gg-Web {
  height: 100%;
  display: none;
}

img#webDesign {
  width: 350px;
  grid-template-columns: auto auto;
  margin-left: 3%;
  padding-top: 10px;
  padding-bottom: 7px;
}

.webContainer {
  display: grid;
  grid-template-columns: auto auto;
}

button.anglersButton {
  width: 100%;
  height: 30px;
  margin-left: 1.75%;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

button.musicmixerButton {
  width: 100%;
  height: 30px;
  margin-left: 1.75%;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

button.chatButton {
  width: 100%;
  height: 30px;
  margin-left: 1.75%;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

button.ufcButton {
  width: 100%;
  height: 30px;
  margin-left: 1.75%;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

/* //uiux */

.uiuxGG {
  padding-top: 5px;
  padding-bottom: 20px;
}

img#uiux {
  width: 300px;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
}

#gg-uiux {
  height: 100%;
  display: none;
}

#contact_Me {
  display: block;
  margin: 200px auto;
  text-align: center;
  background-color: black;
  width: 90%;
  // -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  padding-top: 10px;
}

#contact_Me h1 {
  color: white;
  padding-bottom: 30px;
  font-size: 42px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: -100px;
}

#contact_Me h3 {
  font-size: 18px;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: roboto-slab, serif;
  font-style: normal;
  margin-top: 30px;
}

#contact_Me h4 {
  font-size: 18px;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: roboto-slab, serif;
  font-style: normal;
}

.contact-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: rgba(34, 181, 115, 0.3);
  border: 1px solid rgba(34, 181, 115, 0.3);
  border-radius: 2px;
  font-family: roboto-slab, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.contact-button:hover {
  background-color: rgba(34, 181, 115, 0.8);
  transition: ease-in 1s;
}

.signature {
  width: 150px;
  padding-bottom: 10px;
}

.signOut {
  color: white;
  text-align: center;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -170px;
}

// freelance page//

.freelance_Work h1 {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}
