$col: #af9036;
$bc: #1a1a1a;
$button: #22b573;

html,
body {
  background-color: $bc;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
}

a {
  text-decoration: none;
}

// menu

// .hContainer {
//   background-color: rgba(26, 26, 26, 0.9);
//   width: 100%;
//   height: 40px;
//   margin-top: -1px;
//   z-index: 1;
//   position: fixed;
// }

div#logo {
  background-color: rgba(26, 26, 26, 0.9);
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 2;
}

#menuToggle {
  display: block;
  position: fixed;
  margin-top: 20px;
  left: 2%;
  z-index: 5;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -20px;
  left: -10px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  // width: 30px;
  height: 2.5px;
  margin-bottom: 4px;
  position: relative;
  background: $col;
  border-radius: 3px;
  z-index: 4;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

span.span1 {
  width: 35px;
}

span.span2 {
  width: 0px;
}

span.span3 {
  width: 35px;
  margin-top: -5px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-10px, -10px);
  background: black;
  z-index: 5;
  position: relative;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(48deg) translate(-11px, -10px);
  background: black;
  z-index: 5;
  position: relative;
  margin-top: 2px;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-48deg) translate(1px, 0px);
  margin-top: -5px;
}

#menu {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 86.5%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: rgba(237, 237, 237, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 15px 0;
}

#menu a {
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}

#menu a:hover {
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: $button;
  transition: 0.5s ease-in;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

//logo
#logo img {
  height: auto;
  width: 35px;
  margin-top: 2.5px;
  margin-left: 80%;
  z-index: 2;
  position: fixed;
}

//background

div.blackBackground {
  // margin-top: 10px;
  margin-top: 66px;
}

video#videoBackground {
  height: 660px;
  margin: -60px auto;
  display: block;
}

.gg-Intro {
  height: 680px;
  margin-top: -1226px;
  background-color: rgba(26, 26, 26, 0.9);
  z-index: 1;
  position: relative;
}

.gg-Intro h1 {
  padding-top: 100px;
  margin-top: 600px;
  font-size: 50px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: white;
  position: relative;
  z-index: 3;
  -webkit-animation: fadeInTitle ease 5s, move 5s linear;
  animation: fadeInTitle ease 5s, move 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@-webkit-keyframes move {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 20px;
  }
}

@-webkit-keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gg-Intro h2 {
  margin-top: 225px;
  font-size: 35px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  width: 100%;
  color: $col;
  position: relative;
  z-index: 3;
}

.demoLink {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px auto;
  text-align: center;
  display: block;
  cursor: pointer;
  color: white;
  background-color: rgba(26, 26, 26, 1);
  border: 1px solid $bc;
  position: relative;
  z-index: 3;
  -webkit-animation: moving 10s linear infinite,
    blink 3s ease-in infinite alternate;
  animation: moving 10s linear infinite, blink 3s ease-in infinite alternate;
}

@-webkit-keyframes blink {
  50% {
    border: 1px solid $col;
  }
}

@-webkit-keyframes moving {
  0%,
  100% {
    bottom: 0px;
  }
  50% {
    bottom: -30px;
  }
}

@keyframes moving {
  0%,
  100% {
    bottom: 0px;
  }
  50% {
    bottom: -30px;
  }
}

a.demoLink {
  width: 100px;
  display: block;
  width: 120px;
}

.demoLink:hover {
  background-color: rgba(175, 144, 54, 1);
  transition: ease-in 0.5s;
}

a.videoLink {
  text-decoration: none;
  width: 20px;
  display: block;
  height: 20px;
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
  margin-left: -4px;
}

.videoLink p {
  font-size: 12px;
  color: white;
  // margin-left: -5px;
  text-align: center;
  margin-left: -5px;
}

#gg-About h1 {
  font-size: 50px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 20px;
  padding-bottom: 50px;
}

span.aboutSpan {
  font-weight: 100;
}

#gg-About h2 {
  padding: 10px 1px 30px 1px;
  font-size: 18px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  width: 95%;
  color: white;
  margin: 0 auto;
}

#gg-About h3 {
  padding: 50px 1px 30px 1px;
  font-size: 18px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: right;
  width: 95%;
  color: white;
  margin: 0 auto;
}

div.ggdesign {
  width: 90%;
  margin: 50px auto;
  display: block;
}

#gg-About h4 {
  padding: 30px 5px 5px 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  width: 100%;
  color: white;
}
#gg-About h5 {
  padding-top: 1px;
  padding-bottom: 35px;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: italic;
  width: 90%;
  margin: 0 auto;
  display: block;
  color: $col;
}

div.personal-Note {
  margin-top: 20px;
}

.personal-Note h2 {
  text-align: center;
  font-size: 18px;
  font-family: roboto-slab, serif;
  font-style: italic;
  font-weight: 700;
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 20px;
  color: white;
}

.videoGG h1 {
  color: #af9036;
  font-size: 20px;
  font-family: "Noto Serif, sans-serif";
  font-weight: 200;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 5px;
}

.videoGG h2 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1px;
  padding-top: 20px;
  text-align: center;
}

.graphicGG h1 {
  color: #af9036;
  font-size: 20px;
  font-family: "Noto Serif, sans-serif";
  font-weight: 200;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 5px;
}

.graphicGG h2 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1px;
  padding-top: 20px;
  text-align: center;
}

.webGG h1 {
  color: #af9036;
  font-size: 20px;
  font-family: "Noto Serif, sans-serif";
  font-weight: 200;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 5px;
}

.webGG h2 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1px;
  padding-top: 20px;
  text-align: center;
}

.uiuxGG h1 {
  color: #af9036;
  font-size: 20px;
  font-family: "Noto Serif, sans-serif";
  font-weight: 200;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 5px;
}

.uiuxGG h2 {
  color: #af9036;
  font-size: 20px;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1px;
  padding-top: 10px;
  text-align: center;
}

button.toggle-Video {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #af9036;
  border: 1px solid #af9036;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px;
  z-index: 3;
  display: block;
}

button.toggle-Graphic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #af9036;
  border: 1px solid #af9036;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px;
  z-index: 3;
  display: block;
}

button.toggle-Web {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #af9036;
  border: 1px solid #af9036;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px;
  z-index: 3;
  display: block;
}

button.toggle-uiux {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #af9036;
  border: 1px solid #af9036;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 300px;
  z-index: 3;
  display: block;
}

.gg-demoReel h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 30px;
  margin-top: 80px;
}

iframe.ggdemoReel {
  margin: 0 auto;
  display: block;
  width: 375px;
  height: 200px;
  padding-bottom: 5px;
}

#des_Work h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-top: 25px;
}

#des_Work h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 30px;
  margin-top: -20px;
}

/* /video */

.videoGG {
  padding-top: 5px;
  padding-bottom: 20px;
}

#gg-Video {
  height: 100%;
  display: none;
  grid-template-columns: auto;
}

#gg-Video iframe {
  height: 200px;
  width: 350px;
  padding: 10px 5px 5px 5px;
  margin: 0 auto;
  display: grid;
}

/* //graphic */

.graphicGG {
  padding-top: 5px;
  padding-bottom: 20px;
}

img#suicune {
  width: 300px;
  height: auto;
  display: grid;
  padding: 1px;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
}

#gg-Graphic {
  height: 100%;
  display: none;
  grid-template-columns: auto;
}

/* web */

.webGG {
  padding-top: 5px;
  padding-bottom: 20px;
}

#gg-Web {
  height: 50%;
  display: none;
  grid-template-columns: auto;
}

img#webDesign {
  width: 300px;
  height: auto;
  display: grid;
  padding: 1px;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
}

button.BijansButton {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

button.anglersButton {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

button.KeepGoodCopsButton {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

button.musicmixerButton {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

button.chatButton {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

button.ufcButton {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
  border: 1px solid black;
}

/* //uiux */

.uiuxGG {
  padding-top: 5px;
  padding-bottom: 20px;
}

img#uiux {
  width: 300px;
  height: auto;
  display: grid;
  padding: 1px;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
}

#gg-uiux {
  height: 100%;
  display: none;
  grid-template-columns: auto;
}

.gg-Social {
  margin-top: 70px;
  padding-bottom: 10px;
  background-color: black;
}

.gg-Social h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $col;
}

.r_text {
  margin-top: -35px;
  z-index: 1;
  position: relative;
}

.resumeButton {
  display: block;
  margin: 0 auto;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  width: 150px;
  height: 50px;
}

a.resumeFile {
  width: 150px;
  height: 50px;
  display: inline-block;
  margin-left: -8px;
  margin-top: -15px;
  z-index: 2;
  position: relative;
}

button.resumeButton {
  border: 1px solid rgba(34, 181, 115, 0.7);
  background: linear-gradient(
    to left,
    rgba(34, 181, 115, 0.7) 50%,
    rgba(34, 181, 115, 0.9) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1.5s ease;
  cursor: pointer;
}

button.resumeButton:hover {
  background-position: left bottom;
  transition: all 1.5s ease;
}

.gg-Social h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $col;
}

.gg-Social h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $col;
}

.freelanceButton {
  display: block;
  margin: 0 auto;
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  width: 150px;
  height: 50px;
}

.freelanceButton p {
  font-family: roboto-slab, serif;
  font-weight: 700;
  font-style: normal;
  margin-top: -35px;
}

a.freelanceLink {
  width: 150px;
  height: 50px;
  display: inline-block;
  margin-left: -8px;
  margin-top: -20px;
  z-index: 2;
  position: relative;
}

button.freelanceButton {
  border: 1px solid rgba(34, 181, 115, 0.7);
  background: linear-gradient(
    to right,
    rgba(34, 181, 115, 0.7) 50%,
    rgba(34, 181, 115, 0.9) 50%
  );
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 1.5s ease;
  cursor: pointer;
}

button.freelanceButton:hover {
  background-position: right bottom;
  transition: all 1.5s ease;
}

img.github_Logo {
  width: 14%;
}

img.linkedin_Logo {
  width: 13%;
}

.social_Container {
  margin: 0 auto;
  display: block;
}

a.a_github {
  margin-left: 115px;
}

a.a_LinkedIn {
  margin-left: 30px;
}

#contact_Me {
  display: block;
  margin: 175px auto;
  text-align: center;
  background-color: black;
  width: 100%;
  padding-top: 10px;
}

#contact_Me h1 {
  color: white;
  padding-bottom: 30px;
  font-size: 42px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: -100px;
}

#contact_Me h3 {
  font-size: 18px;
  color: white;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: roboto-slab, serif;
  font-style: normal;
  margin-top: 30px;
}

#contact_Me h4 {
  font-size: 18px;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: roboto-slab, serif;
  font-style: normal;
}

.contact-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: rgba(34, 181, 115, 0.7);
  border: 1px solid rgba(34, 181, 115, 0.7);
  border-radius: 2px;
  font-family: roboto-slab, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.contact-button:hover {
  background-color: rgba(34, 181, 115, 0.9);
  transition: ease-in 1s;
}

.signature {
  width: 150px;
  padding-bottom: 10px;
}

.signOut {
  color: white;
  text-align: center;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -170px;
}

//freelance page//

.freelance_Work h1 {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

.freelance_Work h2 {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.freelance_Work h3 {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  width: 95%;
  padding: 10px;
  text-align: center;
}

.freelance_Company h1 {
  margin-top: 10px;
  color: $col;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 25px;
}

.free_Logo {
  display: grid;
  grid-template-columns: auto;
}

.free_Image img {
  width: 50%;
  margin: 10px auto;
  display: block;
  padding: 10px;
}

.tbannounced h1 {
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  margin-top: -10px;
}

.signOutFree {
  color: white;
  text-align: center;
  color: white;
  text-align: center;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (min-device-width: 768px) {
  // .hContainer {
  //   background-color: rgba(26, 26, 26, 0.9);
  //   width: 100%;
  //   height: 6.5%;
  //   margin-top: -7px;
  //   z-index: 3;
  //   position: fixed;
  // }

  div#logo {
    background-color: rgba(26, 26, 26, 0.9);
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 2;
  }

  // menu

  #menuToggle {
    display: block;
    position: fixed;
    margin-top: 20px;
    left: 2%;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -20px;
    left: -10px;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    // width: 30px;
    height: 2.5px;
    margin-bottom: 4px;
    position: relative;
    background: $col;
    border-radius: 3px;
    z-index: 4;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  span.span1 {
    width: 35px;
  }

  span.span2 {
    width: 0px;
  }

  span.span3 {
    width: 35px;
    margin-top: -5px;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-10px, -10px);
    background: black;
    z-index: 5;
    position: relative;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-11px, -10px);
    background: black;
    z-index: 5;
    position: relative;
    margin-top: 2px;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-47deg) translate(1px, 0px);
    margin-top: -5px;
  }

  #menu {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 86.5%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: rgba(237, 237, 237, 0.8);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 15px 0;
  }

  #menu a {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
  }

  #menu a:hover {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: $button;
    transition: 0.5s ease-in;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
  //logo
  #logo img {
    height: auto;
    width: 35px;
    margin-top: 2.5px;
    margin-left: 80%;
    z-index: 2;
    position: fixed;
  }

  //background

  div.blackBackground {
    // margin-top: 10px;
    margin-top: 4px;
  }

  video#videoBackground {
    height: 1080px;
    margin: -65px auto;
    display: block;
  }

  .gg-Intro {
    height: 1000px;
    margin-top: -1579px;
    background-color: rgba(26, 26, 26, 0.9);
    z-index: 1;
    position: relative;
  }

  .gg-Intro h1 {
    padding-top: 100px;
    margin-top: 600px;
    font-size: 50px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: white;
    position: relative;
    z-index: 3;
    -webkit-animation: fadeInTitle ease 5s, move 5s linear;
    animation: fadeInTitle ease 5s, move 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes move {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 20px;
    }
  }

  @-webkit-keyframes fadeInTitle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInTitle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .gg-Intro h2 {
    // margin-top: 500px;
    margin: 300px auto;
    font-size: 40px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    width: 50%;
    color: $col;
    position: relative;
    z-index: 3;
  }

  .demoLink {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -275px auto;
    display: block;
    cursor: pointer;
    color: white;
    background-color: rgba(26, 26, 26, 1);
    border: 1px solid $bc;
    position: relative;
    z-index: 3;
    -webkit-animation: moving 10s linear infinite,
      blink 3s ease-in infinite alternate;
    animation: moving 10s linear infinite, blink 3s ease-in infinite alternate;
  }

  @-webkit-keyframes blink {
    50% {
      border: 1px solid $col;
    }
  }

  @-webkit-keyframes moving {
    0%,
    100% {
      bottom: 0px;
    }
    50% {
      bottom: -30px;
    }
  }

  @keyframes moving {
    0%,
    100% {
      bottom: 0px;
    }
    50% {
      bottom: -30px;
    }
  }

  a.demoLink {
    width: 100px;
    display: block;
    width: 120px;
  }

  .demoLink:hover {
    background-color: rgba(175, 144, 54, 1);
    transition: ease-in 0.5s;
  }

  a.videoLink {
    text-decoration: none;
    width: 20px;
    display: block;
    height: 20px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    margin-left: -4px;
  }

  .videoLink p {
    font-size: 12px;
    color: white;
    margin-left: -5px;
    text-align: center;
  }

  #gg-About h1 {
    font-size: 50px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  span.aboutSpan {
    font-weight: 100;
  }

  #gg-About h2 {
    padding: 10px 1px 30px 1px;
    font-size: 22px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    width: 95%;
    color: white;
    margin: 0 auto;
  }

  #gg-About h3 {
    padding: 50px 1px 30px 1px;
    font-size: 25px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: right;
    width: 95%;
    color: white;
    margin: 0 auto;
  }

  div.ggdesign {
    width: 50%;
    margin: 50px auto;
    display: block;
  }

  #gg-About h4 {
    padding: 30px 5px 5px 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    width: 100%;
    color: white;
  }
  #gg-About h5 {
    padding-top: 1px;
    padding-bottom: 35px;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: italic;
    width: 90%;
    margin: 0 auto;
    display: block;
    color: $col;
  }

  div.personal-Note {
    margin-top: 80px;
  }

  .personal-Note h2 {
    text-align: center;
    font-size: 25px;
    font-family: roboto-slab, serif;
    font-style: italic;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 20px;
    color: white;
  }

  .videoGG h1 {
    color: #af9036;
    font-size: 20px;
    font-family: "Noto Serif, sans-serif";
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .videoGG h2 {
    color: #af9036;
    font-size: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1px;
    padding-top: 20px;
    text-align: center;
  }

  .graphicGG h1 {
    color: #af9036;
    font-size: 20px;
    font-family: "Noto Serif, sans-serif";
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .graphicGG h2 {
    color: #af9036;
    font-size: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1px;
    padding-top: 20px;
    text-align: center;
  }

  .webGG h1 {
    color: #af9036;
    font-size: 20px;
    font-family: "Noto Serif, sans-serif";
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .webGG h2 {
    color: #af9036;
    font-size: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1px;
    padding-top: 20px;
    text-align: center;
  }

  .uiuxGG h1 {
    color: #af9036;
    font-size: 20px;
    font-family: "Noto Serif, sans-serif";
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .uiuxGG h2 {
    color: #af9036;
    font-size: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1px;
    padding-top: 10px;
    text-align: center;
  }

  button.toggle-Video {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #af9036;
    border: 1px solid #af9036;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: -35px;
    margin-left: 48%;
    z-index: 3;
    display: block;
  }

  button.toggle-Graphic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #af9036;
    border: 1px solid #af9036;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: -35px;
    margin-left: 48%;
    z-index: 3;
    display: block;
  }

  button.toggle-Web {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #af9036;
    border: 1px solid #af9036;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: -35px;
    margin-left: 48%;
    z-index: 3;
    display: block;
  }

  button.toggle-uiux {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #af9036;
    border: 1px solid #af9036;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: -35px;
    margin-left: 48%;
    z-index: 3;
    display: block;
  }

  .gg-demoReel h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 30px;
    margin-top: 80px;
  }

  iframe.ggdemoReel {
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 300px;
    padding-bottom: 5px;
  }

  #des_Work h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-top: 25px;
  }

  #des_Work h2 {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 30px;
    margin-top: -20px;
  }

  /* /video */

  .videoGG {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  #gg-Video {
    height: 100%;
    display: none;
    grid-template-columns: auto auto;
  }

  #gg-Video iframe {
    height: 200px;
    width: 350px;
    padding: 10px 5px 5px 5px;
    margin: 0 auto;
    display: grid;
  }

  /* //graphic */

  .graphicGG {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  img#suicune {
    width: 300px;
    height: auto;
    display: grid;
    padding: 1px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
  }

  #gg-Graphic {
    height: 100%;
    display: none;
    grid-template-columns: auto auto;
  }

  /* web */

  .webGG {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  #gg-Web {
    height: 100%;
    display: none;
    grid-template-columns: auto auto;
  }

  img#webDesign {
    width: 300px;
    height: auto;
    display: grid;
    padding: 1px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
  }

  .webContainer {
    display: block;
    margin: 0 auto;
  }

  button.BijansButton {
    height: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.anglersButton {
    height: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.KeepGoodCopsButton {
    height: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.musicmixerButton {
    height: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.chatButton {
    height: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.ufcButton {
    height: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  /* //uiux */

  .uiuxGG {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  img#uiux {
    width: 300px;
    height: auto;
    display: grid;
    padding: 1px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
  }

  #gg-uiux {
    height: 100%;
    display: none;
    grid-template-columns: auto auto;
  }

  .gg-Social {
    margin-top: 70px;
    padding-bottom: 10px;
    background-color: black;
  }

  .gg-Social h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $col;
  }

  .r_text {
    margin-top: -35px;
    z-index: 1;
    position: relative;
  }

  .resumeButton {
    display: block;
    margin: 0 auto;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    width: 150px;
    height: 50px;
  }

  a.resumeFile {
    width: 150px;
    height: 50px;
    display: inline-block;
    margin-left: -8px;
    margin-top: -15px;
    z-index: 2;
    position: relative;
  }

  button.resumeButton {
    border: 1px solid rgba(34, 181, 115, 0.7);
    background: linear-gradient(
      to left,
      rgba(34, 181, 115, 0.7) 50%,
      rgba(34, 181, 115, 0.9) 50%
    );
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1.5s ease;
    cursor: pointer;
  }

  button.resumeButton:hover {
    background-position: left bottom;
    transition: all 1.5s ease;
  }

  .gg-Social h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $col;
  }

  .gg-Social h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $col;
  }

  .freelanceButton {
    display: block;
    margin: 0 auto;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    width: 150px;
    height: 50px;
  }

  .freelanceButton p {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    margin-top: -35px;
  }

  a.freelanceLink {
    width: 150px;
    height: 50px;
    display: inline-block;
    margin-left: -8px;
    margin-top: -20px;
    z-index: 2;
    position: relative;
  }

  button.freelanceButton {
    border: 1px solid rgba(34, 181, 115, 0.7);
    background: linear-gradient(
      to right,
      rgba(34, 181, 115, 0.7) 50%,
      rgba(34, 181, 115, 0.9) 50%
    );
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1.5s ease;
    cursor: pointer;
  }

  button.freelanceButton:hover {
    background-position: right bottom;
    transition: all 1.5s ease;
  }

  img.github_Logo {
    width: 7%;
    margin-left: 5px;
  }

  img.linkedin_Logo {
    width: 6%;
  }

  a.a_github {
    margin-left: 40%;
  }

  .social_Container {
    margin: 0 auto;
    display: block;
  }

  a.a_LinkedIn {
    margin-left: 30px;
  }

  #contact_Me {
    display: block;
    margin: 175px auto;
    text-align: center;
    background-color: black;
    width: 100%;
    padding-top: 10px;
  }

  #contact_Me h1 {
    color: white;
    padding-bottom: 30px;
    font-size: 42px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -100px;
  }

  #contact_Me h3 {
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: roboto-slab, serif;
    font-style: normal;
    margin-top: 30px;
  }

  #contact_Me h4 {
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: roboto-slab, serif;
    font-style: normal;
  }

  .contact-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(34, 181, 115, 0.7);
    border: 1px solid rgba(34, 181, 115, 0.7);
    border-radius: 2px;
    font-family: roboto-slab, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
  }

  .contact-button:hover {
    background-color: rgba(34, 181, 115, 0.9);
    transition: ease-in 1s;
  }

  .signature {
    width: 150px;
    padding-bottom: 10px;
  }

  .signOut {
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -170px;
  }

  //freelance

  .freelance_Work h1 {
    color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
  }

  .freelance_Work h2 {
    color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }

  .free_Logo {
    display: grid;
    grid-template-columns: auto auto;
  }

  .free_Image img {
    width: 50%;
    margin: 10px auto;
    display: block;
    padding: 10px;
  }

  .tbannounced h1 {
    color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    margin-top: -10px;
  }
}

@media only screen and (min-device-width: 900px) {
  // .hContainer {
  //   background-color: rgba(26, 26, 26, 0.9);
  //   width: 100%;
  //   height: 6.5%;
  //   margin-top: -7px;
  //   z-index: 3;
  //   position: fixed;
  // }

  div#logo {
    background-color: rgba(26, 26, 26, 0.9);
    width: 100%;
    height: 42px;
    position: fixed;
    z-index: 2;
  }

  #menuToggle {
    display: block;
    position: fixed;
    margin-top: 25px;
    left: 2%;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -20px;
    left: -10px;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    // width: 30px;
    height: 2.5px;
    margin-bottom: 5px;
    position: relative;
    background: $col;
    border-radius: 3px;
    z-index: 4;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  span.span1 {
    width: 30px;
  }

  span.span2 {
    width: 0px;
  }

  span.span3 {
    width: 30px;
    margin-top: -7px;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(-55deg) translate(-2px, 0px);
    background: black;
    z-index: 5;
    position: relative;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-5px, -4px);
    background: black;
    z-index: 5;
    position: relative;
    margin-top: 2px;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-2px, 0px);
    margin-top: -5px;
  }

  #menu {
    position: fixed;
    z-index: 3;
    width: 33%;
    height: 86.5%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: rgba(237, 237, 237, 0.8);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 15px 0;
  }

  #menu a {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
  }

  #menu a:hover {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: $button;
    transition: 0.5s ease-in;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  //logo
  #logo img {
    height: 40px;
    width: 40px;
    margin-top: 1px;
    margin-left: 80%;
    z-index: 2;
    position: fixed;
  }

  //background

  div.blackBackground {
    margin-top: 4px;
  }

  video#videoBackground {
    // // height: 800px;
    // width: 100%;
    margin: -45px auto;
    display: block;
  }

  .gg-Intro {
    height: 997px;
    margin-top: -1597px;
    background-color: rgba(26, 26, 26, 0.9);
    z-index: 1;
    position: relative;
  }

  .gg-Intro h1 {
    padding-top: 100px;
    margin-top: 600px;
    font-size: 50px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: white;
    position: relative;
    z-index: 3;
    -webkit-animation: fadeInTitle ease 5s, move 5s linear;
    animation: fadeInTitle ease 5s, move 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes move {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 20px;
    }
  }

  @-webkit-keyframes fadeInTitle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInTitle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .gg-Intro h2 {
    margin: 250px auto;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 60px;
    width: 600px;
    color: $col;
    position: relative;
    z-index: 3;
    display: block;
  }

  .demoLink {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -240px auto;
    display: block;
    cursor: pointer;
    color: white;
    background-color: rgba(26, 26, 26, 1);
    border: 1px solid $bc;
    position: relative;
    z-index: 3;
    -webkit-animation: moving 10s linear infinite,
      blink 3s ease-in infinite alternate;
    animation: moving 10s linear infinite, blink 3s ease-in infinite alternate;
  }

  @-webkit-keyframes blink {
    50% {
      border: 1px solid $col;
    }
  }

  @-webkit-keyframes moving {
    0%,
    100% {
      bottom: 0px;
    }
    50% {
      bottom: -30px;
    }
  }

  @keyframes moving {
    0%,
    100% {
      bottom: 0px;
    }
    50% {
      bottom: -30px;
    }
  }

  a.demoLink {
    width: 100px;
    display: block;
    width: 120px;
  }

  .demoLink:hover {
    background-color: rgba(175, 144, 54, 1);
    transition: ease-in 0.5s;
  }

  a.videoLink {
    text-decoration: none;
    width: 20px;
    display: block;
    height: 20px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    // margin-left: -4px;
    margin: auto;
  }

  .videoLink p {
    font-size: 12px;
    color: white;
    margin-left: -5.5px;
  }

  #gg-About h1 {
    font-size: 70px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  span.aboutSpan {
    font-weight: 100;
  }

  #gg-About h2 {
    padding: 10px 1px 30px 1px;
    font-size: 35px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    width: 95%;
    color: white;
    margin: 0 auto;
  }

  #gg-About h3 {
    padding: 50px 1px 30px 1px;
    font-size: 25px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: right;
    width: 95%;
    color: white;
    margin: 0 auto;
  }

  div.ggdesign {
    width: 50%;
    margin: 50px auto;
    display: block;
  }

  #gg-About h4 {
    padding: 30px 5px 5px 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 45px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    width: 100%;
    color: white;
  }
  #gg-About h5 {
    padding-top: 1px;
    padding-bottom: 35px;
    letter-spacing: 2px;
    font-size: 45px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: italic;
    width: 90%;
    margin: 0 auto;
    display: block;
    color: $col;
  }

  div.personal-Note {
    margin-top: 120px;
  }

  .personal-Note h2 {
    text-align: left;
    font-size: 25px;
    font-family: roboto-slab, serif;
    font-style: italic;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 20px;
    color: white;
  }

  .gg-demoReel h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 30px;
    margin-top: 80px;
  }

  iframe.ggdemoReel {
    margin: 0 auto;
    display: block;
    width: 700px;
    height: 400px;
    padding-bottom: 5px;
  }

  .videoGG h1 {
    color: #af9036;
    font-size: 20px;
    font-family: "Noto Serif, sans-serif";
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid;
    width: 325px;
  }

  .videoGG h2 {
    color: #af9036;
    font-size: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1px;
    padding-top: 20px;
    text-align: center;
  }

  .videoGG {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  #gg-Video {
    height: 50%;
    display: none;
    grid-template-columns: auto auto;
  }

  #gg-Video iframe {
    height: 300px;
    width: 550px;
    padding: 10px 5px 50px 5px;
    margin: 0 auto;
    display: grid;
  }

  button.toggle-Video {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #af9036;
    border: 1px solid #af9036;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    // margin-top: -35px;
    // margin-left: 400px;
    margin-top: -19px;
    margin-left: 365px;
    z-index: 3;
    display: block;
  }

  button.toggle-Graphic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #af9036;
    border: 1px solid #af9036;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: -19px;
    margin-left: 365px;
    z-index: 3;
    display: block;
  }

  button.toggle-Web {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #af9036;
    border: 1px solid #af9036;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: -19px;
    margin-left: 365px;
    z-index: 3;
    display: block;
  }

  button.toggle-uiux {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #af9036;
    border: 1px solid #af9036;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: -19px;
    margin-left: 365px;
    z-index: 3;
    display: block;
  }

  .graphicGG h1 {
    color: #af9036;
    // font-size: 30px;
    // font-family: hero-new, sans-serif;
    // font-weight: 400;
    // font-style: italic;
    font-size: 20px;
    font-family: "Noto Serif, sans-serif";
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid;
    width: 325px;
  }

  .graphicGG h2 {
    color: #af9036;
    font-size: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1px;
    padding-top: 20px;
    text-align: center;
  }

  .webGG h1 {
    color: #af9036;
    // font-size: 30px;
    // font-family: hero-new, sans-serif;
    // font-weight: 400;
    // font-style: italic;
    font-size: 20px;
    font-family: "Noto Serif, sans-serif";
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid;
    width: 325px;
  }

  .webGG h2 {
    color: #af9036;
    font-size: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1px;
    padding-top: 20px;
    text-align: center;
  }

  .uiuxGG h1 {
    color: #af9036;
    // font-size: 30px;
    // font-family: hero-new, sans-serif;
    // font-weight: 400;
    // font-style: italic;
    font-size: 20px;
    font-family: "Noto Serif, sans-serif";
    font-weight: 200;
    font-style: italic;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid;
    width: 325px;
  }

  .uiuxGG h2 {
    color: #af9036;
    font-size: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1px;
    padding-top: 10px;
    text-align: center;
  }

  /* //graphic */

  .graphicGG {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  img#suicune {
    width: 500px;
    height: auto;
    display: grid;
    padding: 1px;
    margin: 0 auto;
    padding: 5px 5px 20px 5px;
    margin: 0 auto;
  }

  #gg-Graphic {
    height: auto;
    display: none;
    grid-template-columns: auto auto;
  }

  /* web */

  .webGG {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  #gg-Web {
    height: 100%;
    display: none;
    grid-template-columns: auto auto;
  }

  img#webDesign {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 7px;
    display: grid;
  }

  .webContainer {
    display: grid;
    grid-template-columns: auto auto;
  }

  button.BijansButton {
    width: 70%;
    height: 30px;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.anglersButton {
    width: 70%;
    height: 30px;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.KeepGoodCopsButton {
    width: 70%;
    height: 30px;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.musicmixerButton {
    width: 70%;
    height: 30px;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.chatButton {
    width: 70%;
    height: 30px;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  button.ufcButton {
    width: 70%;
    height: 30px;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
  }

  /* //uiux */

  .uiuxGG {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  img#uiux {
    width: 400px;
    height: auto;
    display: grid;
    padding: 1px;
    margin: 0 auto;
    padding: 5px 5px 50px 5px;
    margin: 0 auto;
  }

  #gg-uiux {
    height: 100%;
    display: none;
    grid-template-columns: auto auto;
  }

  .gg-Social {
    margin-top: 70px;
    padding-bottom: 10px;
    background-color: black;
  }

  .gg-Social h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $col;
  }

  .r_text {
    margin-top: -35px;
    z-index: 1;
    position: relative;
  }

  .resumeButton {
    display: block;
    margin: 0 auto;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    width: 150px;
    height: 50px;
  }

  a.resumeFile {
    width: 150px;
    height: 50px;
    display: inline-block;
    margin-left: -8px;
    margin-top: -15px;
    z-index: 2;
    position: relative;
  }

  button.resumeButton {
    border: 1px solid rgba(34, 181, 115, 0.7);
    background: linear-gradient(
      to left,
      rgba(34, 181, 115, 0.7) 50%,
      rgba(34, 181, 115, 0.9) 50%
    );
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1.5s ease;
    cursor: pointer;
  }

  button.resumeButton:hover {
    background-position: left bottom;
    transition: all 1.5s ease;
  }

  .gg-Social h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $col;
  }

  .gg-Social h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $col;
  }

  .freelanceButton {
    display: block;
    margin: 0 auto;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    width: 150px;
    height: 50px;
  }

  .freelanceButton p {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    margin-top: -35px;
  }

  a.freelanceLink {
    width: 150px;
    height: 50px;
    display: inline-block;
    margin-left: -8px;
    margin-top: -20px;
    z-index: 2;
    position: relative;
  }

  button.freelanceButton {
    border: 1px solid rgba(34, 181, 115, 0.7);
    background: linear-gradient(
      to right,
      rgba(34, 181, 115, 0.7) 50%,
      rgba(34, 181, 115, 0.9) 50%
    );
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1.5s ease;
    cursor: pointer;
  }

  button.freelanceButton:hover {
    background-position: right bottom;
    transition: all 1.5s ease;
  }

  img.github_Logo {
    width: 5%;
    margin-left: 50px;
  }

  img.linkedin_Logo {
    width: 4.5%;
  }

  a.a_github {
    margin-left: 40%;
  }

  .social_Container {
    margin: 0 auto;
    display: block;
  }

  a.a_LinkedIn {
    margin-left: 30px;
  }

  #contact_Me {
    display: block;
    margin: 175px auto;
    text-align: center;
    background-color: black;
    width: 100%;
    padding-top: 10px;
  }

  #contact_Me h1 {
    color: white;
    padding-bottom: 30px;
    font-size: 42px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -100px;
  }

  #contact_Me h3 {
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: roboto-slab, serif;
    font-style: normal;
    margin-top: 30px;
  }

  #contact_Me h4 {
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: roboto-slab, serif;
    font-style: normal;
  }

  .contact-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(34, 181, 115, 0.7);
    border: 1px solid rgba(34, 181, 115, 0.7);
    border-radius: 2px;
    font-family: roboto-slab, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
  }

  .contact-button:hover {
    background-color: rgba(34, 181, 115, 0.9);
    transition: ease-in 1s;
  }

  .signature {
    width: 150px;
    padding-bottom: 10px;
  }

  .signOut {
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -170px;
  }

  #demoReel {
    height: 100%;
    overflow-y: hidden;
  }

  //freelance

  .freelance_Work h1 {
    color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
  }

  .freelance_Work h2 {
    color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    padding: 20px;
  }

  .free_Logo {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .free_Image img {
    width: 50%;
    margin: 10px auto;
    display: block;
    padding: 10px;
  }

  .tbannounced h1 {
    color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    font-size: 26px;
    padding: 20px;
    margin-top: -10px;
  }
}
